<ion-header>
  <ion-toolbar>
    <ion-title>Histórico</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Job</ion-card-subtitle>
      <ion-card-title>Histórico de Solicitações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            TURMA
          </ion-col>
          <ion-col>
            STATUS
          </ion-col>
          <ion-col>
            DATA
          </ion-col>
          <ion-col>
            QUANTIDADE
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list *ngFor="let t of turmas">
        <ion-item-sliding>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>
                    {{t.nome}}
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    {{t.status}}
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    {{t.data}}
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    {{t.quant}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="Delete(item)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>