<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!barraDePesquisaAberta">Almoço</ion-title>
    <ion-searchbar *ngIf="barraDePesquisaAberta" showCancelButton="true" (ionCancel)="barraDePesquisaAberta=false">
    </ion-searchbar>

    <ion-buttons slot="start" routerLink="">
      <ion-button  >
        <ion-icon slot="icon-only" name="ios-contact"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="!barraDePesquisaAberta" (click)="barraDePesquisaAberta=true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <img src="../../../assets/img/madison.jpg" />
    <ion-card-header>
      <ion-card-title>Info Refeições</ion-card-title>
      <ion-card-subtitle>Total de Almoços Extras</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="success">
        <h1>{{valor}}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Alunos</ion-card-title>
      <ion-card-subtitle>Lista de alunos beneficiados com Almoço</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let item of items">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>{{item}}</ion-label>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);
  searchbar.addEventListener('ionInput', handleInput);
  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>