<ion-header>
  <ion-toolbar>
    <ion-title>Estatistica</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-card class="background-image">
    
    <ion-card-header>
      <ion-card-title class="text2" color="light"></ion-card-title>
      <ion-card-subtitle class="text2" color="light">Total de Refeições Extras</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="light">
        <h1 class="text1">{{valor}}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Info Professor</ion-card-title>
      <ion-card-subtitle>Professor que mais solicitou Almoços</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="primary">
        <h1>{{professorQueMaisSolicitouAlmocos}}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Info Professor</ion-card-title>
        <ion-card-subtitle>Professor que mais solicitou Jantares</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <ion-text color="primary">
          <h1>{{professorQueMaisSolicitouJantares}}</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>
    
  <ion-card>
    
      <ion-card-header>
        <ion-card-title>Info Almoços</ion-card-title>
        <ion-card-subtitle>Quantidade de Almoços Deferidos</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <ion-text color="success">
          <h1>{{almocosDeferidos}}</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Info Almoços</ion-card-title>
          <ion-card-subtitle>Quantidade de Almoços Indeferidos</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          <ion-text color="success">
            <h1>{{almocosIndeferidos}}</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Info Jantares</ion-card-title>
            <ion-card-subtitle>Quantidade de Jantares Deferidos</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            <ion-text color="success">
              <h1>{{jantaresDeferidos}}</h1>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Info Jantares</ion-card-title>
              <ion-card-subtitle>Quantidade de Jantares Indeferidos</ion-card-subtitle>
            </ion-card-header>
        
            <ion-card-content>
              <ion-text color="success">
                <h1>{{jantaresIndeferidos}}</h1>
              </ion-text>
            </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-header>
                <ion-card-title>Info Semana</ion-card-title>
                <ion-card-subtitle>Dia da Semana com mais Solicitações de Almoços</ion-card-subtitle>
              </ion-card-header>
          
              <ion-card-content>
                <ion-text color="primary">
                  <h1>{{diaDaSemanaComMaisSolicitacoes}}</h1>
                </ion-text>
              </ion-card-content>
            </ion-card>
          <ion-card>
              <ion-card-header>
                <ion-card-title>Info Semana</ion-card-title>
                <ion-card-subtitle>Dia da Semana com mais Solicitações de Jantares</ion-card-subtitle>
              </ion-card-header>
          
              <ion-card-content>
                <ion-text color="primary">
                  <h1>{{diaDaSemanaComMenosSolicitacoes}}</h1>
                </ion-text>
              </ion-card-content>
            </ion-card>
          
</ion-content>