<ion-header>
  <ion-toolbar>
    <ion-title>viewPublica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Almoço</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="moon"></ion-icon>
        <ion-label>Jantar</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
