<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>

    <ion-buttons slot="end" routerLink="/login">
      <ion-button  >
        <ion-icon slot="icon-only" name="ios-contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="background-image">
    
    <ion-card-header>
      <ion-card-title class="text2" color="light"></ion-card-title>
      <ion-card-subtitle class="text2" color="light">Total de Refeições Extras</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="light">
        <h1 class="text1">{{valor}}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Info Sistema</ion-card-title>
      <ion-card-subtitle>@LoopisJr</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let item of items">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>{{item}}</ion-label>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>