.background-image{
    --background: url(../../../assets/img/fundo2.png) 0 0/100%;
     
}

.text1{
    font-size: 900%;
    text-align: center;
}

.text2{
    font-size: 200%;
    text-align: center;
    margin-top: 20%;

}