
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/tabs/tab1/view" >
      <ion-icon name="apps"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab2/almoco">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Almoço</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/tab3/janta" >
      <ion-icon name="moon"></ion-icon>
      <ion-label>Jantar</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>