<ion-header>
    <ion-toolbar>
      <ion-title>Danos</ion-title>  
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    


     <div class="ion-margin-vertical">
        <ion-button (click)="takeSnap()">
            Take Snap
          </ion-button>    
         
        <img  class="redondo" [src]="capturedSnapURL" />  

     </div>
    <ion-card class="background-color"  >
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="stacked">Matricula</ion-label>
              <ion-input formControlName="matricula" type="number" disabled>
              </ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="stacked">Nome</ion-label>
              <ion-input formControlName="nome" type="text" disabled>
              </ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="stacked">Senha Atual</ion-label>
              <ion-input formControlName="senha" type="password">
              </ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="stacked">Nova Senha</ion-label>
              <ion-input formControlName="novaSenha" type="password">
              </ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <div>
            <ion-button type="submit" color="success" expand="block">Salvar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
</ion-content>