.background-image{
    --background: url(../../../assets/img/fundo3.png) 0 0/100%;
     
}

.text1{
    font-size: 80px;
    text-align: center;
}

.text2{
    font-size: 20px;
    text-align: center;
    margin-top: 20%;

}